<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card styleClass="w-25rem overflow-hidden">
    <ng-template pTemplate="title">Weather App</ng-template>
    <ng-template pTemplate="subtitle">Welcome back</ng-template>

    <form [formGroup]="signInForm" class="flex flex-column gap-3 mt-3">
      <div>
        <label for="email" class="block mb-2">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          class="w-full"
          placeholder="Please enter your email"
          formControlName="username"
        />
      </div>
      <div>
        <label for="password" class="block mb-2">Password</label>
        <input
          id="password"
          type="password"
          [feedback]="false"
          pPassword
          class="w-full"
          inputClass="w-full"
          placeholder="Please enter your password"
          formControlName="password"
        />
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex flex-column gap-3 mt-3">
        <p-button label="Sign In" severity="primary" class="w-full" styleClass="w-full" (onClick)="onSignIn()" />
        <div class="text-center mt-2 flex gap-4 justify-content-between align-items-center">
          <span>Don't have an account?</span>
          <p-button label="Sign Up" severity="contrast" (onClick)="onSignUp()" />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
